<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/brands.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/solid.min.css">

    <title>Recipes</title>

    <style>
        *{
            padding:0;
            margin: 0;
            box-sizing: border-box;
        }

    html{
        font-size:62.5%;
    }

    body{
        font-size:1.6rem;
    }
    </style>
</head>
<body>
    <head class="main.header-container">
        <div class="main-header-container">
            <a href="">
            <h1>    
                <i class="fa-solid fa-utensils"></i>
                 <span>Recipes</span>
            </h1>
        </a>
        </div>

    </head>
</body>
</html>